#*
 * Project Ginger S390x
 *
 * Copyright IBM, Corp. 2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
 #unicode UTF-8
 #import gettext
 #from wok.cachebust import href
 #silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
 #silent _ = t.gettext
 #silent _t = t.gettext
 {
     "GS390XBL001E": "$_("Remove From Blacklist")",
     "GS390XBL002E": "$_("Enter Blacklisted Device IDs")",
     "GS390XBL003E": "$_("Remove")",
     "GS390XBL004E": "$_("Comma seperated device ids/range in #.##.#### format, e.g 0.0.34df, 0.0.3488")",
     "GS390XBL005E": "$_("Note * Removing the device from blacklist will add the device to offline devices")",
     "GS390XBL006E": "$_("Removing..Please wait..")",
     "GS390XBL007E": "$_("Please enter device id to remove from blacklist")",
     "GS390XBG001E": "$_("Filter")",
     "GS390XBG002E": "$_("No Result Found")",
     "GS390XBG003E": "$_("Loading...Please wait..")",
     "GS390XNW001E": "$_("Enable")",
     "GS390XNW002E": "$_("Name")",
     "GS390XNW003E": "$_("CHIPDs")",
     "GS390XNW004E": "$_("Card Type")",
     "GS390XNW005E": "$_("Device IDs")",
     "GS390XNW006E": "$_("Listing Devices...")",
     "GS390XNW007E": "$_("Enabling...Please wait..")",
     "GS390XNW008E": "$_("Please select device(s) to enable.")",
     "GS390XFN001E": "$_("Some devices are selected in the Offline device list.<br>Do you want to Enable them ?")",
     "GS390XFN002E": "$_("Yes")",
     "GS390XFN003E": "$_("No Thanks")",
     "GS390XFCLN001E": "$_("Disable LUN Scan")",
     "GS390XFCLN002E": "$_("Luns Scan is enabled successfully")",
     "GS390XFCLN003E": "$_("Add all / Luns Scan")",
     "GS390XFCLN004E": "$_("Enable LUN Scan")",
     "GS390XFCLN005E": "$_("Luns Scan is disabled successfully")",
     "GS390XFCLN006E": "$_("Add all")",
     "GS390XFCLN007E": "$_("LUNs scan enable/disable failed")",
     "GS390XFCLN008E": "$_("LUNs scan status unavailable")",
     "GS390XFCLN009E": "$_("Host Adapter")",
     "GS390XFCLN0010E": "$_("Lun Id")",
     "GS390XFCLN0011E": "$_("SAN Controller")",
     "GS390XFCLN0012E": "$_("SAN Controller Id/Serial No")",
     "GS390XFCLN0013E": "$_("Add Selected")",
     "GS390XFCLN0014E":"$_("Luns sucessfully added")",
     "GS390XFCLN0015E":"$_("Error occured while adding Luns")",
     "GS390XFCLN0016E":"$_("Searching Luns")",
     "GS390XFCLN0017E":"$_("Luns add failed")",
     "GS390XFS001E": "$_("Enable")",
     "GS390XFS002E": "$_("Device")",
     "GS390XFS003E": "$_("CHPIDs")",
     "GS390XFS004E": "$_("Listing Devices...")",
     "GS390XFS005E": "$_("Enabling Devices...")",
     "GS390XFS006E": "$_("device successfully enabled.")",
     "GS390XFS007E": "$_("device failed to enable.")",
     "GS390XFS008E": "$_("Please select any device to enable.")",
     "GS390XFS009E": "$_("Some devices are selected in the Offline device list.<br/> Do you want to Enable them ?")",
     "GS390XFS010E": "$_("Yes")",
     "GS390XFS011E": "$_("No Thanks")",
     "GS390XED001E": "$_("Enable")",
     "GS390XED002E": "$_("Device")",
     "GS390XED003E": "$_("Installed CHPID Paths")",
     "GS390XED004E": "$_("Enabled CHPID Paths")",
     "GS390XED005E": "$_("Listing Devices...")",
     "GS390XED006E": "$_("Enabling Devices...")",
     "GS390XED007E": "$_("device successfully enabled.")",
     "GS390XED008E": "$_("device failed to enable.")",
     "GS390XED009E": "$_("Please select any device to enable.")",
     "GS390XED010E": "$_("Some devices are selected in the Offline device list.<br/> Do you want to Enable them ?")",
     "GS390XED011E": "$_("Yes")",
     "GS390XED012E": "$_("No Thanks")"


 }
