*.pyc
*~
i18n/mo/*
log
data
mo
autom4te.cache
Makefile
Makefile.in
aclocal.m4
m4/pkg.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
configure
config.py
config.log
config.status
contrib/gingers390x.spec.zkvm
*.min.css
*.min.js
*.gmo
stamp-po
gingers390x-*.tar.gz
gingers390x.spec
tests/run_tests.sh
tests/test_config.py
po/POTFILES
po/gen-pot
*.orig
*.rej
*.pem
